.hero-inner h1{
    font-size: 3em;
    color: rgb(87, 214, 104);   
    text-align: left;
}
    .social-footer{
        height: auto;
        width: 100%;
        margin-bottom:0px;
        padding: 0px;
        background: rgba(0, 0, 0, 0.774);
        bottom: 0;
    }
    .social-footer-icons {
        width: 100%;
        height: auto;
        margin: auto;
      }
      .social-footer-icons ul{
        padding-inline-start: 15px;
        text-align: center;
        margin-block-end: 0px;
      }
      .social-footer-icons ul li{
          display: inline-block;
          margin: 15px;
          padding-inline-start: 2px;
          border-radius: 0%;
          
      }
      .social-footer-icons ul li a{
          font-size: 35px;
      }
      .parrafo{
          color: white;
          text-align: -webkit-match-parent;
          display: flex;
          text-align: center;
          font-size: small;
          line-height: 24px;
      }
    main{
        background-color: cornsilk;
    }
    main p{
        color:black;
        font-size: 15px;
        
    }
    th {
        background-color: darkgray;
        font-weight: bold;
    }

    td {
        font-weight: lighter;
    }

    @media(max-width: 499px){
        .hero {
            /* Sizing */
            width: 100vw;
            height: 100vh;
            
            /* Flexbox stuff */
            display: flex;
            
            align-items: center;
            
            /* Text styles */
            text-align: center;
            
            /* Background styles */
            background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(221, 219, 219, 0.384)), url("img/foto1.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            }

        table{
        width: 50%;
        height: auto;
        background-color:aliceblue;
        margin: 2px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid;
        border-collapse: collapse;
        }

    th, td {
        text-align: center;
        border: 1px solid;
        padding: 10px;
        }

    th {
        background-color: darkgray;
        font-weight: bold;
        }

    td {
        font-weight: lighter;
        }
    }

    @media (min-width: 500px) {
        .hero {
            /* Sizing */
            width: 99vw;
            height: 99vh;
            
            /* Flexbox stuff */
            display: flex;
            
            align-items: center;
            
            /* Text styles */
            text-align: center;
            
            /* Background styles */
            background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(221, 219, 219, 0.384)), url("img/foto1.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            }

        table{
        width: 50%;
        height: auto;
        background-color:aliceblue;
        margin: 2px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid;
        border-collapse: collapse;
        }
    th, td {
        text-align: center;
        border: 1px solid;
        padding: 10px;

        }
}
.texto-galeria{
    text-align: center;
    padding-top: 5vh;
}

#galeria img{
    width: 100%;
    height: 350px;
}

#galeria .col-lg-4{
    margin: 0;
    padding: 25px;
}

#galeria img:hover{
    border: 4px solid whitesmoke;
}